*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background-color: black;

overflow:hidden;

}

#matrix{

position: fixed;

top: 0;

left: 0;

width: 100%;

height: 100%;

inset: 0;

z-index: 0;

pointer-events: none;

}

CSS

.teclado{

position: relative;

z-index: 1;

width: 450px;

height: 450px;

}

 

.tecla{

width:120px;

height:120px;

background:linear-gradient(145deg,#ffffff,#d9d9d9);

border-radius:15px;

display:flex;

flex-direction:column;

justify-content:center;

position:absolute;

align-items:center;

box-shadow:

0 8px 0 #b1b1b1,

0 15px 25px rgba(0,0,0,.3);

cursor:pointer;

transition:.2s;

}

.tecla:hover{

scale:1.05;

box-shadow:

0 0 15px currentColor,

0 0 30px currentColor;

}

.tecla:active{

scale:.98;

}

.tecla img{

width:65px;

height:65px;

margin-bottom:12px;

}

.tecla span{

font-size:1rem;

color:white;

font-weight:700;

text-align:center;

}

 

/* Centro imaginário do círculo:

300px / 300px

*/

 

/* Topo */

.html{

background:#e34f26;

top:40px;

left:50%;

transform:translateX(-50%);

}

 

.css{

background:#1572b6;

top:40px;

right:70px;

}

 

.javascript{

background:#f7df1e;

top:50%;

right:40px;

transform:translateY(-50%);

}

 

.java{

background:#f89820;

bottom:60px;

right:70px;

}

 

.spring{

background:#beee9d;

bottom:60px;

left:50%;

transform:translateX(-50%);

}

 

.git{

background:#f05032;

bottom:60px;

left:70px;

}

 

.github{

background:#24292e;

top:50%;

left:40px;

transform:translateY(-50%);

}

 

.php{

background:#777bb4;

top:40px;

left:70px;

}

 

.centro{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

display:flex;

flex-direction:column;

align-items:center;

gap:15px;

}

CSS

.centro h2{

font-size:3rem;

color:white;

text-shadow:0 0 15px #00ff00;

}

.centro h2{

color:white;

font-size:2rem;

}

 

.tecla::after{

content:attr(data-desc);

 

position:absolute;

bottom:-50px;

left:50%;

transform:translateX(-50%);

 

background:rgba(0,0,0,.9);

color:white;

 

padding:8px 14px;

border-radius:8px;

 

font-size:.8rem;

white-space:nowrap;

 

opacity:0;

pointer-events:none;

 

transition:.3s;

}

 

.tecla:hover::after{

opacity:1;

bottom:-40px;

}

.btn-voltar{

text-decoration:none;

background:#ffffff;

color:rgb(4, 243, 75);

padding:10px 25px;

border-radius:8px;

font-weight:bold;

transition:.3s;

box-shadow:0 0 15px #00ff00;

opacity:0;

visibility:hidden;

transform:translateY(-10px);

}

.centro:hover .btn-voltar{

opacity:1;

visibility:visible;

transform:translateY(0);

}

 

.btn-voltar{

transition:

opacity .3s ease,

transform .3s ease;

}

 